<h1>Welcome to your homepage</h1>
<p>&nbsp;</p>
<h4 class="d-flex p-2 justify-content-center">Here is what you can do:</h4>

<div class="d-flex p-2 justify-contetnt-center">
    <div class="btn-group-vertical" data-toggle="buttons" >
        <button type="button" class="btn btn-secondary"><a [routerLink]="['/HomepageNurse/listOfAllPat']">1. List of all patients</a></button>
        <button type="button"  class="btn btn-secondary"><a [routerLink]="['/HomepageNurse/UserProfiles']">2. List of user profiles</a></button>
        <button type="button"class="btn btn-secondary"><a [routerLink]="['/HomepageNurse/nurseWorkCal']">3. Working calendar</a></button>
        <button type="button" class="btn btn-secondary"><a [routerLink]="['/HomepageNurse/RequestForAbsence']">4. Request for absence</a></button>
        <button type="button"class="btn btn-secondary"><a [routerLink]="['/HomepageNurse/RecipeValidation']">5. Recipe validation</a></button>
      </div>
</div>

