<h1>Welcome to your homepage</h1>
<p>&nbsp;</p>
<h4 class="d-flex p-2 justify-content-center"></h4>

    <div class="list-group">
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageNurse/ListOfPatients']">1. List of all patients</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageNurse/nurseWorkCal']">2. Working calendar</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageNurse/RequestForAbsence']">3. Request absence</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageNurse/RecipeValidation']">4. Recipe validation</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/clinicCenterAdminProfilePage']">5. My profile</a></button>
    </div>
