<h1  class="d-flex p-2 justify-content-center">List of Clinics</h1>
<p>&nbsp;</p>        

<div class='table-responsive' class="d-flex p-2 justify-content-center">
    <table class='table'>
    <thead>
            <tr>
               <th>Name</th>
               <th>Address </th>
               <th>Description </th>
               <th>Grade</th>
               <th></th>
             </tr>
    </thead>
    <tbody>
        <tr *ngFor = 'let c of clinics ' > 
             <td>{{c.name}}</td>
             <td>{{c.address}}</td>
             <td>{{c.description}}</td>
             <td>{{c.grade}}</td>
             <td><button   type="button" class="btn btn-outline-primary" (click)='deleteClinics(c.id)'>Delete</button></td>
             <td><button   type="button"  class="btn btn-outline-primary" (click)=' editClinic(c)'>Edit</button></td> 
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex p-2 justify-content-center" *ngIf = 'edit' >
        <form #userForm="ngForm" (ngSubmit)="onSubmit()" >
        <fieldset>
            Edit clinic:  
            <br/>
            <label>Name:</label>
            <input type="text"  class="form-control" id="name" name="name"  [(ngModel)]="editClinicmodel.name" />
            <label>Address:</label>
            <input type="text"  class="form-control" id="address" name="address"  [(ngModel)]="editClinicmodel.address" />
            <label>Description:  </label>
            <input type="text"  class="form-control" id="desc" name="description"  [(ngModel)]="editClinicmodel.description" />    
            
        <button  class="btn btn-primary">Edit</button>
        </fieldset>
        </form>
    </div>