
    <h1>List of arrived request</h1>
    <p>&nbsp;</p>        
    <div class='table-responsive' onload="onLoad()" class="d-flex p-2 justify-content-center">
        <table class='table'>
        <thead>
                <tr>
                   <th>Name</th>
                   <th>Email </th>
                   <th>UCIDN </th>
                   <th></th>
                   <th></th>
                   <th></th>
                 </tr>
        </thead>
        <tbody>
                <tr *ngFor = 'let arrReq of arrivedRequest'>
                   <td>{{arrReq.Name}}</td>
                   <td>{{arrReq.Email}}</td>
                   <td>{{arrReq.UCIDN}}</td>
                   <td><input type="text" value="Reason of rejection..." hidden="true"/> </td>
                   <td><button type="button" class="btn btn-outline-primary">Accept</button></td>
                   <td><button type="button" class="btn btn-outline-primary">Reject</button></td>
                </tr> 
                <tr *ngIf = "arrivedRequest || arrivedRequest.length==0">
                    <td>No request to show!</td>
                </tr>
        </tbody> 
            
        </table>
    </div>

      
      
      