<form #userForm="ngForm" (ngSubmit)="onSubmit()" class="d-flex p-2 justify-content-center">
    <fieldset>
      <legend>Consult Term</legend>

      <div class="form-group">
        <label for="exampleSelect1">Date:</label>
        <input type="datetime" class="form-control" id="date"  [(ngModel)]="consultTermModel.date" name="date">
      </div>
 
      <div class="form-group">
        <label for="exampleSelect1">Type:</label>
        <select class="form-control" id="exampleSelect1"  [(ngModel)]="consultTermModel.type" name="type">
          <option>jos nema tipova</option>>
        </select>
      </div>

      <div class="form-group" >
        <label class="col-form-label" for="inputDefault"> Duration:</label>
        <input type="number" class="form-control" id="duration"  [(ngModel)]="consultTermModel.duration" name="duration">
      </div>

      <div class="form-group" >
        <label class="col-form-label" for="inputDefault"> Price:</label>
        <input type="number" class="form-control" id="price"  [(ngModel)]="consultTermModel.price" name="price">
      </div>

      <div class="form-group" >
        <label class="col-form-label" for="inputDefault"> Discount:</label>
        <input type="number" class="form-control" id="discount"  [(ngModel)]="consultTermModel.discount" name="discount">
      </div>

      <div class="form-group">
        <label for="exampleSelect1">Room:</label>
        <select class="form-control" id="room"  [(ngModel)]="consultTermModel.room" name="room">
        </select>
      </div>

      <div class="form-group">
        <label for="exampleSelect1">Doctor:</label>
        <select class="form-control" id="doctor"  [(ngModel)]="consultTermModel.doctor" name="doctor" *ngFor = 'let o of doctors'>
          <option>{{o.name}}</option>
        </select>
      </div>
      
      <button type="submit" class="btn btn-primary">Send</button>
    </fieldset>
  </form>