<h1  class="d-flex p-2 justify-content-center">List of Clinics</h1>
<p>&nbsp;</p>        

<div class='container'>
        <div class='row'>
            <div class='col'>Date for examination:</div>
            <div class='col'>Type:</div>
            <div class='col'>Clinic's address:</div>
            <div class='col'>Clinic's rating:</div>
            <div class='col'></div>
        </div>
        <div class='row'>
                <div class='col'>
                        <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="selectedDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                </div>
                <div class='col'>
                      <select id="type" name="type" [(ngModel)]="selectedType">
                        <option [ngValue]="null">Select Category</option>
                        <option *ngFor = 'let t of types' name="type">{{t.name}}</option>
                      </select>
                </div>
                <div class='col'>
                        <input type="text" [(ngModel)]='clinicAddress'>
                </div>
                <div class='col'>
                        <input type="text" [(ngModel)]='clinicRating'>
                </div>
                <div class='col'>
                        <button (click)="buttonSearch()">Search</button>
                </div>
        </div>
        <div class='table-responsive' class="d-flex p-2 justify-content-center">
        <table class='table' *ngIf='filteredClinics'>
        <thead>
                <tr>
                <th>Name</th>
                <th>Address </th>
                <th>Description </th>
                <th>Grade</th>
                <th></th>
                </tr>
        </thead>
        <tbody>
                <tr *ngFor = 'let c of filteredClinics'>
                <td>{{c.name}}</td>
                <td>{{c.address}}</td>
                <td>{{c.description}}</td>
                <td>{{c.grade}}</td>
                </tr>
        </tbody> 
                
        </table>
        </div>
</div>