<h1  class="d-flex p-2 justify-content-center">List of Clinics</h1>
<p>&nbsp;</p>        

<div class='container'>
        <div class='row'>
            <div class='col'>Date for examination:</div>
            <div class='col'>Type:</div>
            <div class='col'>Clinic's address:</div>
            <div class='col'>Clinic's rating:</div>
            <div class='col'></div>
        </div>
        <div class='row'>
                <div class='col'>
                        <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="selectedDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                </div>
                <div class='col'>
                      <select id="type" name="type" [(ngModel)]="selectedType">
                        <!--<option [ngValue]="null">Select Category</option>-->
                        <option *ngFor = 'let t of types' name="type" [ngValue]="t">{{t.name}}</option>
                      </select>
                </div>
                <div class='col'>
                        <input type="text" [(ngModel)]='clinicAddress'>
                </div>
                <div class='col'>
                        <input type="text" [(ngModel)]='clinicRating'>
                </div>
                <div class='col'>
                        <button (click)="buttonSearch()">Search</button>
                </div>
        </div>
        <div class='table-responsive' class="d-flex p-2 justify-content-center">
        <table class='table table-striped' *ngIf='filteredClinics || listClin' matSort (matSortChange)="sortData($event)">
        <thead>
                <tr>
                <th mat-sort-header="name">Name</th>
                <th mat-sort-header="address">Address</th>
                <th mat-sort-header="description">Description</th>
                <th mat-sort-header="grade">Grade</th>
                <th></th>
                </tr>
        </thead>
        <tbody>
                <tr *ngFor = 'let c of filteredClinics || listClin || sortedClinics'>
                <td>{{c.name}}</td>
                <td>{{c.address}}</td>
                <td>{{c.description}}</td>
                <td>{{c.grade}}</td>
                <td><button class="btn btn-info" (click)='listOfDoctors(c)'>See doctors</button></td>
                </tr>
        </tbody> 
                
        </table>
        </div>

        <div class='table-responsive' *ngIf='seeDoctors'>
                <button (click)='hideAllDoctors()'>Hide</button>
                <h3>All doctors of selected clinic: {{selectedClinic.name}} and selected type: {{selectedType.name}}</h3>
                
                <div class='row'>
                        <div class='col'>Name:</div>
                        <div class='col'>Surname:</div>
                        <div class='col'>Grade:</div>
                        <div class='col'></div>
                    </div>
                    <div class='row'>
                            <div class='col'>
                                    <input type="text" [(ngModel)]='doctorName'>
                            </div>
                            <div class='col'>
                                    <input type="text" [(ngModel)]='doctorSurname'>
                            </div>
                            <div class='col'>
                                    <input type='text' [(ngModel)]='doctorGrade'>
                            </div>
                            <div class='col'>
                                    <button (click)="buttonSearchDoctors()">Search</button>
                            </div>
                    </div>

                <div class='table-responsive' class="d-flex p-2 justify-content-center">
                        <table class='table table-striped' *ngIf='filteredDoctors || doctors' matSort (matSortChange)="sortData2($event)">
                        <thead>
                                <tr>
                                <th mat-sort-header="name">Name</th>
                                <th mat-sort-header="surname">Surname</th>
                                <th mat-sort-header="grade">Average grade</th>
                                <th mat-sort-header="avalible">Avalibe appointments</th>
                                <th></th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor = 'let d of filteredDoctors || doctors || sortedDoctors'>
                                <td>{{d.name}}</td>
                                <td>{{d.surname}}</td>
                                <td>{{d.grade}}</td>
                                <td>{{d.date}}</td>
                                <td><button class="btn btn-info" (click)='schedule(d)'>Schedule</button></td>
                                </tr>
                        </tbody> 
                                
                        </table>
                        </div>
        </div>
</div>