<h1>Welcome to your homepage</h1>
<p>&nbsp;</p>

<h4 class="d-flex p-2 justify-content-center">Here is what you can do:</h4>

<div class="list-group">
    <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepagePatient/ListOfPatClinics']">1. List of all clinics</a></button>
    <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepagePatient/requestExamination']">2. Request predefined examination</a></button>
    <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/requestConsult']">3. Request Consult</a></button>
    <button type="button" class="btn btn-secundary btn-lg">4. History of examinations and operations</button>
    <button type="button" class="btn btn-secundary btn-lg">5. Medical record</button>
    <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepagePatient/PatientProfileSettings']">6. My profile</a></button>
</div>