<h1>Welcome to your homepage</h1>
<p>&nbsp;</p>

<h4 class="d-flex p-2 justify-content-center">Here is what you can do:</h4>

<div class="list-group">
    <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepagePatient/ListOfPatClinics']">List of all clinics</a></button>
    <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/requestConsult']">Request Consult</a></button>
    <button type="button" class="btn btn-secundary btn-lg">History of examinations</button>
    <button type="button" class="btn btn-secundary btn-lg">History of operations</button>
    <button type="button" class="btn btn-secundary btn-lg">Medical record</button>
    <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepagePatient/PatientProfileSettings']">My profile</a></button>

    <div>
        <router-outlet></router-outlet>
    </div>
    
</div>