<h1  class="d-flex p-2 justify-content-center">List of Rooms</h1>
<p>&nbsp;</p>        
    <div class='row'>
        <div class='col'  *ngIf = 'tabela1'>Name:</div>
        <div class='col'  *ngIf = 'tabela1'>Number:</div>
        <div class='col'>Insert date:</div>
    </div>
    <div class='row'>
        <div class='col'>
            <input type="text"  *ngIf = 'tabela1' [(ngModel)]='roomName'>
        </div>
        <div class='col'>
            <input type="text"  *ngIf = 'tabela1' [(ngModel)]='roomId'>
        </div>
        <div class='col'>  
            <form  (ngSubmit)="onSubmitDate()">
            <input type="date" name="hdsi" value="yyyy-mm-dd" [(ngModel)]='datee'> 
            <button type="submit" class="btn btn-primary">Find</button>
            </form>    
        </div>       
    </div>
<div class='table-responsive' class="d-flex p-2 justify-content-center">



    <table class='table' *ngIf = 'tabela1'>
    <thead>
            <tr>
               <th>Name</th>
                <th>Type</th>
                <th>Number</th>
               
                <th></th>
                <th></th>
            </tr>
    </thead>
    <tbody>
            <tr *ngFor = 'let d of filteredRooms' >
                <td>{{d.name}}</td>
                <td>{{d.type}}</td>
                <td>{{d.id}}</td>
              
                <td></td>
                <td></td>
                <td><button   type="button" class="btn btn-outline-primary" (click)='deleteRoom(d.id)'>Delete</button></td>
                <td><button   type="button"  class="btn btn-outline-primary" (click)='editRoom(d)'>Edit</button></td>
            </tr>
    </tbody>
    </table>

    <table class='table'   *ngIf = 'tabela2' >
        <thead>
                <tr>
                   <th>Name</th>
                    <th>Type</th>
                    <th>Number</th>
                    <th>07:00-09:00</th>
                    <th>09:00-11:00</th>
                    <th>11:00-13:00</th>
                    <th>13:00-15:00</th>
                    <th>15:00-17:00</th>
                    <th>17:00-19:00</th>
                    <th></th>
                    <th></th>
                </tr>
        </thead>
        <tbody>
                <tr *ngFor = 'let d of roomTerms' >
                    <td>{{d.room.name}}</td>
                    <td>{{d.room.name}}</td>
                    <td>{{d.room.id}}</td>
                    <td><input type="checkbox" disabled  [(ngModel)]="d.term1" ></td>
                    <td><input type="checkbox" disabled  [(ngModel)]="d.term2" ></td>
                    <td><input type="checkbox" disabled  [(ngModel)]="d.term3" ></td>
                    <td><input type="checkbox" disabled [(ngModel)]="d.term4" ></td>
                    <td><input type="checkbox" disabled [(ngModel)]="d.term5" ></td>
                    <td><input type="checkbox" disabled [(ngModel)]="d.term6" ></td>
                    <td><button   type="button" class="btn btn-outline-primary" (click)='deleteRoom(d.id)'>Delete</button></td>
                    <td><button   type="button"  class="btn btn-outline-primary" (click)='editRoom(d)'>Edit</button></td>
                </tr>
        </tbody>
        </table>
</div>

<div  class="col-md-3 offset-md-9" *ngIf = 'edit' >
        <form #userForm="ngForm" (ngSubmit)="onSubmit()" >
        <fieldset>
            Edit room:  
            <br/>
            <label>Name:</label>
            <input type="text"  class="form-control" id="e" name="e"  [(ngModel)]="editModel.name" />
            <label>Type:  </label>
            <select  class="form-control" id="type" name="type"  [(ngModel)]="editModel.type" >
            <option>examination</option>
                <option>operation</option>
            </select>
            
        <button  class="btn btn-primary">Edit</button>
        </fieldset>
        </form>
</div>
