
<div style="text-align:left">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = 'let d of types ' >
                
                    <td>{{d.name}}</td>
                    <td>{{d.description}}</td>
                    <td><button  type="button" class="btn btn-outline-primary" (click)=' deleteConsultType(d.id)'>Delete</button></td>
                    <td><button   type="button"  class="btn btn-outline-primary" (click)='editRoom(d)'>Edit</button></td>    
                </tr>
            
            </tbody>
        </table>
    </div>
</div>