<div class="container">

    <div class="user-info-container">
        <div class="user-info-container-row">
            <label> Clinic's name: </label>
            <mat-form-field class="input-field" appearance="outline" matTooltip="Name">
                <mat-icon matPrefix class="icon">perm_identity</mat-icon>
                <input matInput type="text" placeholder="Name" enable [(ngModel)]="clinic.name" />
            </mat-form-field>
            <label> Clinic's address: </label>
            <mat-form-field class="input-field" appearance="outline" matTooltip="Address">
                <mat-icon matPrefix class="icon">perm_identity</mat-icon>
                <input matInput type="text" placeholder="Address" enable [(ngModel)]="clinic.address" class="form-control" (keydown.enter)="$event.preventDefault()" 
                autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search/>
            </mat-form-field>
        </div>

        <div class="user-info-container-row">
            <label> Clinic's description: </label>
            <mat-form-field class="input-field" appearance="outline" matTooltip="Description">
                <mat-icon matPrefix class="icon">perm_identity</mat-icon>
                <input matInput type="text" placeholder="Description" enable [(ngModel)]="clinic.description" />
            </mat-form-field>

           
        </div>

        <div class="user-info-container-row">
            <button mat-button matTooltip="Cancel editing" (click)="onClickCancel()">Cancel</button>
            <button mat-raised-button color="primary" matTooltip="Save profile changes" (click)="onClickSave()">Save</button>
        </div>

         
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"></agm-marker>
          </agm-map>
       
    </div>
</div>

    <div class="user-info-container-row">
        <label> Clinic income:  </label>
        <mat-form-field class="input-field" appearance="outline" matTooltip="Name">
            <mat-icon matPrefix class="icon">perm_identity</mat-icon>
            <input disabled  matInput type="text" value="500000" enable/>
        </mat-form-field>
        <label> Clinic's grade: </label>
        <mat-form-field class="input-field" appearance="outline" matTooltip="Grade">
            <mat-icon matPrefix class="icon">perm_identity</mat-icon>
            <input matInput type="number" placeholder="Grade" disabled [(ngModel)]="clinic.grade" />
        </mat-form-field>

</div>

    <div class="user-info-container-row">
        <label> Clinic income:  </label>
        <mat-form-field class="input-field" appearance="outline" matTooltip="Name">
            <mat-icon matPrefix class="icon">perm_identity</mat-icon>
            <input disabled  matInput type="text"  [(ngModel)]="clinic.income" enable/>
        </mat-form-field>
        <label> Clinic's grade: </label>
        <mat-form-field class="input-field" appearance="outline" matTooltip="Grade">
            <mat-icon matPrefix class="icon">perm_identity</mat-icon>
            <input matInput type="number" placeholder="Grade" disabled [(ngModel)]="clinic.grade" />
        </mat-form-field>

        <div class='table-responsive' class="d-flex p-2 justify-content-center">
            <table class='table'>
                <thead>
                    <td>Name</td>
                    <td>Surname</td>
                    <td>Grade</td>
                </thead>
                <tbody>
                    <tr  *ngFor = 'let ms of doctors'>
                        <td>{{ms.name}}</td>
                        <td>{{ms.surname}}</td>
                        <td>{{ms.grade}}</td>
                    </tr>
                </tbody>
                </table>

        </div>
</div>