<div class="d-flex p-2 justify-content-center">
<div>
      <h1>
        Welcome to the Clinical Center!
      </h1>
      <p>&nbsp;</p>
      <button><a [routerLink]="['/HomepageCCA']">Homepage for Clinical Center Administrator </a></button>
      <button><a [routerLink]="['/HomepageDoctor']">Homepage for Doctor </a></button>
      <button><a [routerLink]="['/HomepageCA']">Homepage for Clinic Administartor </a></button>
      <button><a [routerLink]="['/HomepageNurse']">Homepage for Nurse</a></button>
      <button><a [routerLink]="['/requestConsult']">Request Consult</a></button>
    </div>
</div>

