<!--The content below is only a placeholder and can be replaced.-->
<link rel="welcome.component" href="styles.css">
  <div style="text-align:center">
    <h1>
      Welcome to the Clinical Center!
    </h1>
  </div>

  <div >
    <div class="float-left" > <cc-registration> </cc-registration></div>
    <!--<div class="float-right" > <cc-login></cc-login></div>-->
    <div><button onclick="requestForConsult">Requst for consult</button>
      <button onclick="newConsultTerm">New consult term</button>
      <button><a [routerLink]="['/HomepageCCA']">Homepage for Clinical Center Administrator </a></button> 
    </div>
  </div>

  <div class="form" style="position: absolute; top: 8px; right: 16px; font-size: 18px;">
    <button type="button" class="signupbutton" style="    background-color: #e2f264;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;"> <a [routerLink]="['/signupform']">Sign Up</a></button>
    <button type="button" class="loginbutton" style="    background-color: #e2f264;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;"> <a [routerLink]="['/loginform']">Log in</a></button>
  </div>

