<form>
    <fieldset>
      <legend>Login</legend>
 
      <div class="form-group" >
        <label class="col-form-label" for="inputDefault">User name:</label>
        <input type="text" class="form-control" id="userName">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Please, repeat your password:</label>
        <input type="password" class="form-control" id="exampleInputPassword2">
      </div>
      
      <button type="submit" class="btn btn-primary">Login</button>
    </fieldset>
  </form>