<h1  class="d-flex p-2 justify-content-center">List of Doctors</h1>
<p>&nbsp;</p>        

<div class='table-responsive' class="d-flex p-2 justify-content-center">
    <table class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>UCIDN</th>
                <th></th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let d of doctors ' >
                <td>{{d.name}}</td>
                <td>{{d.surname}}</td>
                <td>{{d.email}}</td>
                <td>{{d.ucidn}}</td>
                <td><button   type="button" class="btn btn-outline-primary"  (click)='deleteDoctor(d.id)'>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>