<form (ngSubmit)="onSubmit()" class="d-flex p-2 justify-content-center">
    <fieldset>
      <legend>Add new diagnosis</legend>

      <div class="form-group" >
        <label class="col-form-label" for="inputDefault"> Name:</label>
        <input type="text" class="form-control" id="name"  name="name" [(ngModel)] = "medicamentModel.name"/>
      </div>

      <div class="form-group" >
        <label class="col-form-label" for="inputDefault"> Code:</label>
        <input type="text" class="form-control" id="code"  name="code" [(ngModel)] = "medicamentModel.code">
      </div>
      
      <div class="form-group">
        <label for="exampleTextarea">Description: </label>
        <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)] = "medicamentModel.description"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Add</button>
    </fieldset>
  </form>