
<form #userForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Registration</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" 
                          id="name" name="name" [(ngModel)]="userModel.name"/>
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Surname</label>
                        <input type="text" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" 
                          id="surename" name="surname" [(ngModel)]="userModel.surname"/>
                        <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                            <div *ngIf="f.surname.errors.required">Surname is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                      <label>UCIDN</label>
                      <input type="text" formControlName="ucidn" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ucidn.errors }" 
                        name="ucidn" id="ucidn" [(ngModel)]="userModel.ucidn"/>
                      <div *ngIf="submitted && f.ucidn.errors" class="invalid-feedback">
                          <div *ngIf="f.ucidn.errors.required">UCIDN is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Address</label>
                      <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" 
                        id="address" name="address" [(ngModel)]="userModel.address"/>
                      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                          <div *ngIf="f.address.errors.required">Address is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>City</label>
                      <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" 
                        name="city" [(ngModel)]="userModel.city"/>
                      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                          <div *ngIf="f.city.errors.required">City is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Country</label>
                      <input type="text" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" 
                        name="country" [(ngModel)]="userModel.country"/>
                      <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                          <div *ngIf="f.country.errors.required">Country is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Phone number</label>
                      <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" 
                        name="phone" [(ngModel)]="userModel.phone"/>
                      <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                          <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
                      </div>
                    </div>
                   
                    <div class="form-group">
                      <label>Username</label>
                      <input  [(ngModel)]="userModel.username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                      <div *ngIf="submitted && f.username.errors" class="invalid-feedback" >
                          <div *ngIf="f.username.errors.required">Username is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
                          id="email" [(ngModel)]="userModel.email" name="email" aria-describedby="emailHelp"/>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
                          [(ngModel)]="userModel.password" name="password" id="exampleInputPassword1"/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 3 characters</div>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary" >Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</form>