    <h1>Welcome to your homepage</h1>
    <p>&nbsp;</p>
    <h4 class="d-flex p-2 justify-content-center">Here is what you can do:</h4>
    
    <div class="list-group">
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/arrivedReq']" >1. List of arrived request</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/registerNewClinAdmin']">2. Register new Clinical Administrator</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/registerNewClinCenAdmin']">3. Register new Clinical Center Administrator</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/addNewClinic']">4. Add new clinic</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/allClinics']">5. List of clinics</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/createMedCod']">6. Add new medicament</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/allMedicaments']">7. Medicament codebook</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/createDiagCod']">8. Add new diagnosis</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/allDiagnosis']">9. Diagnosis codebook</a></button>

    </div>

