    <h1>Welcome to your homepage</h1>
    <p>&nbsp;</p>
    <h4 class="d-flex p-2 justify-content-center">Here is what you can do:</h4>
    
    <div class="list-group">
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/arrivedReq']" >1. List of arrived request</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/registerNewClinCenAdmin']">2. Register new Clinical Center Administrator</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/addNewClinic']">3. Add/remove clinic</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/allClinics']">4. List of clinics</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/createMedCod']">5. Create medicament Codebook</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageCCA/createDiagCod']">6. Create diagnosis Codebook</a></button>
    </div>

