<div class="d-flex p-2 justify-content-left flex-row"> 
<div style="min-width: 400px">
<form class="d-flex p-2 justify-content-left">
    <fieldset>
      <legend>Medical record</legend>

      <div class="form-group" >
        <label class="col-form-label" for="inputDefault"> Height:</label>
        <input type="text" class="form-control" [(ngModel)]="medicalRecord.height" id="height"  name="height"/>
      </div>

      <div class="form-group" >
        <label class="col-form-label" for="inputDefault"> Weight:</label>
        <input type="text" class="form-control"  [(ngModel)]="medicalRecord.weight" id="weight"  name="weight">
      </div>

      <div class="form-group" >
        <label class="col-form-label" for="inputDefault"> Blood type:</label>
        <input type="text" class="form-control"  [(ngModel)]="medicalRecord.bloodType" id="bloodType"  name="bloodType">
      </div>

      <div class="form-group" >
        <label class="col-form-label" for="inputDefault"> Dioptre:</label>
        <input type="text" class="form-control"  [(ngModel)]="medicalRecord.diopter" id="dioptre"  name="dioptre">
      </div>

      <div class="form-group" >
        <label class="col-form-label" for="inputDefault"> Alergic to medicament:</label>
        <textarea type="text" class="form-control"  [(ngModel)]="medicalRecord.alergies" id="alergic"  name="alergic"></textarea>
      </div>
      
      <button type="button" class="btn btn-outline-primary" (click)='Edit()'>Edit</button>
    </fieldset>
  </form>
</div>

 
<div  class="d-flex p-2 justify-content-left flex-column">
<div style="min-width: 400px">
  <label>Select diagnosis:</label>
  <ng-multiselect-dropdown
        [placeholder]="'Select diagnosis'" name="diag"
        [data]="listDiag"
        [(ngModel)]="selectedDiagnosis"
        [settings]="diagnosisSettings"
        (onSelect)="onItemSelect($event)">
  </ng-multiselect-dropdown>
  <br>
  <label>Add report:</label>
  <br>
  <textarea style="width: 580px; height:150px" [(ngModel)]="report" placeholder="Add report"></textarea>
  <br>
  <button *ngIf="view == 'EDIT'" class="btn btn-primary" (click)="editConsult()">Edit</button>
</div>

<div style="min-width: 1000px">
  <table class='table' matSort (matSortChange)="sortData($event)">
    <thead>
            <tr>
            <th mat-sort-header="doctor">Doctor</th>
            <th mat-sort-header="diagnosis">Diagnosis</th>
            <th mat-sort-header="report">Report</th>
            <th></th>
            </tr>
    </thead>
    <tbody>
            <tr *ngFor = 'let c of consults'>
            <td>{{c.consultTerm.doctor.name}} {{c.consultTerm.doctor.surname}}</td>
            <td>{{c.diagnosis.name}}</td>
            <td>{{c.report}}</td>
            <td><button  type="button" *ngIf="c.consultTerm.doctor.id== id" class="btn btn-outline-primary" (click)=' change(c)'>Change</button></td>

            </tr>
    </tbody>                 
    </table>
  </div>
</div>

</div>