<h1>Welcome to your homepage</h1>
<p>&nbsp;</p>

<h4 class="d-flex p-2 justify-content-center"></h4>

    <div class="list-group">
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageDoctor/ListOfPatients']">List of all clinics patients</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a> Calendar</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageNurse/RequestForAbsence']"> Request absence</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a  [routerLink]="['/HomepageDoctor/RqForCosult']"> Schedule consult</a></button>
        <button type="button" class="btn btn-secundary btn-lg"  ><a [routerLink]="['/HomepageDoctor/RqForOperation']"> Schedule surgery</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepagePatient/PatientProfileSettings']"> My profile</a></button>
    </div>
