<h1>Welcome to your homepage</h1>
<p>&nbsp;</p>

<h4 class="d-flex p-2 justify-content-center"></h4>

    <div class="list-group">
        <button type="button" class="btn btn-secundary btn-lg"><a>1. Clinic's patients</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a>2. Calendar</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a>3. Request abcense</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a>4. My profile</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a>5. Schedule consult</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a>6. Schedule surgery</a></button>
    </div>
