<h1>Welcome to your homepage</h1>
<p>&nbsp;</p>

<h4 class="d-flex p-2 justify-content-center"></h4>

    <div class="list-group">
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageDoctor/ListOfPatients']">1. List of all patients</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageDoctor/DoctorWorkCalendar']"> 2. Calendar</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a> 3. Request abcense</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepagePatient/PatientProfileSettings']"> 4. My profile</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a [routerLink]="['/HomepageDoctor/ListOfPatients']">5. List of all clinics patients</a></button>
        <button type="button" class="btn btn-secundary btn-lg"><a  [routerLink]="['/HomepageDoctor/RqForCosult']">6. Schedule consult</a></button>
        <button type="button" class="btn btn-secundary btn-lg"  ><a [routerLink]="['/HomepageDoctor/RqForOperation']">7. Schedule surgery</a></button>    </div>
